/* styles.css */

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    text-align: center;
}/*background color and the body */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.container{
    max-width: 800px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(65, 57, 57, 0.1);
}

form{
    margin-bottom: 20px;
    text-align: center;
}

button[type="submit"] {
  background-color: hsl(213, 73%, 50%);
  color: white;
}

button[type="submit"]:hover {
  background-color: hsl(213, 73%, 40%);
} 

button[type="reset"] {
  text-decoration: underline;
  margin-left: 1rem;
  background-color: hsl(148, 37%, 93%);
}

button[type="reset"]:hover {
  text-decoration: none;
}
